header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 47, 238, 0.723);
    background-color: rgb(47, 0, 44);
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

li:hover{
    transform: scale(1.4);
}

.nav{
    color: rgba(255, 47, 238, 0.723);
    text-decoration: none;
}

.nav:hover{
 color: rgb(255, 4, 159);   
 }

h1{
    margin: 1rem;
}